body {
  width: 800px; /* Full width */
  max-width: 1200px; /* Maximum width */
  margin: auto; /* Center the body */
  height: 100vh; /* Full viewport height */
  padding: 10px;
}

.profile_pic{
  display: block;
  margin: auto;
  width: 200px; /* Added unit */
  height: 200px; /* Added unit */
  border-radius: 50%; /* Changed to 50% for a perfect circle */
  border: medium solid rgb(148, 50, 50)
}

.profile{
  text-align: center;
  font-size: 20px;
  color: rgb(148, 50, 50);
  font-weight: bold
}

.head{
  color:rgb(148, 50, 50); 
  font-size: 20px; 
  font-weight: bold;
}

button{
  display: block;
  margin: auto;
  padding: 10px 10px;
  background-color: rgb(148, 50, 50); 
  color: yellow;
  border: none;
  border-radius: 10px;
}
a.button{
    text-decoration: none;
}

a.button:hover, li:hover{
  opacity: 0.45;
}


.skills ul{
  padding: 0; /* Remove default padding */
  margin: 0;
}

li{
  display: inline-block;
  border: none solid;
  padding: 10px 10px;
  background-color: rgb(148, 50, 50); 
  margin: 5px;
  border-radius: 20px;
  color: yellow;
}
.icon{
  font-size: 20px;
  color: rgb(148, 50, 50);
}

/*beginning of form editing*/
form{
  margin: auto;
  width: 100%;
  text-align: left;
  height: 90%;
  box-shadow: 5px 5px 100px rgba(148, 50, 50, 0.541);
  padding-left: 20px;
  color: rgb(148, 50, 50);

}
::placeholder, #skills{
  color: rgba(0, 0, 0, 0.486);
}  


input[type=text], input[type=tel]
{ /*input field*/
  display: inline-block;
  width: 35%;
  border: solid thin rgb(148, 50, 50);
}

input[type=submit], select, textarea{
  border: solid thin rgb(148, 50, 50);
}


#edit{ /*for editing the bio*/
  display: block;
}

#texta{
  width: 50%;
  height: 150px;
}
#mail, #phone, #address{ /*all labels*/
  display: block;
}
