body{/*The html body*/
	margin: 0 0;
}

/*HEADER SECTION*/
.header{/* setting the html header bar*/
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.left{
	background-color: lightblu;
	width: 200px;
	margin-left: 16px;
	display: flex;
	align-items: center;
	align-content: flex-start ;
}

.middle{
	background-color: lightgreen;
	flex: 2;
	margin-left: 25px;
	max-width: 600px;
}

.right{
	background-color: lightskyblue;
	width: 200px;
	margin-right: 16px;
}


/*ICONS*/
#menu-burger{
	display: inline-block;
	width: 30px;

}

.icon-text img{
	width: 30px;
	margin-right: 3px;
	margin-left: 20px;	
}
.icon-text{
	margin-top: 0;
	display: flex; /* Enable flexbox for the link */
  align-items: center; /* Center the icon and text */
  text-decoration: none; /* Remove underline */
  color: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: -2px;
}


/*CONTENT SECTION*/
.main{/*The entire content container*/
	display:grid;
	grid-template-columns: repeat(4, 30%);
	grid-gap: 30px 15px;
}

.thumbnail:hover{ /*animating the thumbnail when hovered by mouse*/
	border-radius: 0px;
	transition-duration: 0.5s;
}

.item-info{/*The video details. separating with grid.*/
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-column-gap: 8px;
	margin-top: 5px;
}

.thumbnail{/*content image*/
	width: 100%;
	border-radius: 5%;
}

.logo img{/*making the logo round*/
	border-radius: 50%;
	width: 90%;
}


a, p{ /*removing format from all links*/
	text-decoration: none;
	font-family: "Roboto", Arial, sans-serif;
}

.title {/*The video title*/
	color: black;
	font-weight:500;
	font-size: 14px;
	margin-bottom: 1px;
	margin-top: 0px;
}

.chan_name{/*The channel name beside the logo*/
	color: #606060;
	font-size: 12px;
	margin-bottom: 2px;
}
.chan_stats{/*The channel video statistics*/
	color: #606060;
	font-size: 12px;
	margin-top: 2px;
}
