body{/*The html body*/
	margin-top: 5%; 
	margin-bottom: 5%;
}


.main{/*The entire content container*/
	display:grid;
	grid-template-columns: repeat(4, 40%);
	grid-gap: 30px 15px;
}

.item-info{/*The video details. separating with grid.*/
	display: grid;
	grid-template-columns: 48px 1fr;
	grid-column-gap: 8px;
	margin-top: 5px;

}

.thumbnail{/*content image*/
	width: 100%;
	border-radius: 5%;
}

.logo img{/*making the logo round*/
	border-radius: 50%;
	width: 90%;
}


a, p{ /*removing format from all links*/
	text-decoration: none;
	font-family: "Roboto", Arial, sans-serif;
}

.title {/*The video title*/
	color: black;
	font-weight:500;
	font-size: 14px;
	margin-bottom: 1px;
	margin-top: 0px;
}

.chan_name{/*The channel name beside the logo*/
	color: #606060;
	font-size: 12px;
	margin-bottom: 2px;
}
.chan_stats{/*The channel video statistics*/
	color: #606060;
	font-size: 12px;
	margin-top: 2px;
}
